<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://unpkg.com/tdesign-vue-next/dist/tdesign.min.css" />
    <script src="https://unpkg.com/tdesign-vue-next/dist/tdesign.min.js"></script>


</head>
<body>
<div id="app">
    <div style="width: 94%;margin: 20px auto  100px auto ;">

        <t-space style="width: 100%;min-height: 80vh;" direction="vertical">

            <div :id="'aimsg'+index" v-for="(item,index) in messages">

                <t-avatar size="large" :style="item.type=='AI'?'':'float: right'  ">{{ item.type }}</t-avatar>
                <div
                        :style="'vertical-align: top;max-width: 72%;margin-top: 2px;display: inline-block;margin-left:6px;margin-right:6px;padding: 10px;border-radius: 8px;background-color: var(--td-bg-color-container); width:fit-content;'+(item.type=='AI'?'':'float: right;')"
                        v-html="item.msg.replace(/\n\n```/g,'<pre>').replace(/```\n\n/g,'</pre>').replace(/\n/g,'<br>')"/>


            </div>
            <div id="aimsgLast" style="height: 100px" v-if="isLoding">
                <t-avatar>AI</t-avatar>
                <div
                        style="vertical-align: top;max-width: 80%;margin-top: 2px;display: inline-block;margin-left:6px;margin-right:6px;padding: 10px;border-radius: 8px;background-color: var(--td-bg-color-container); width:fit-content;"
                        v-html="'正在加载...'"/>
            </div>

        </t-space>


    </div>

    <div style="height: 10vh;width: 100%;position: fixed;left: 0;bottom: 0;background-color: var(--td-bg-color-page);">
        <div style="width: 80%;margin: 0 auto">
            <t-textarea v-model="nowQu" placeholder="请输入内容" autofocus autosize/>
        </div> <div style="text-align: right;margin-top: -33px">
        <t-button @click="bingAi" :disabled="nowQu==''">确定</t-button>
    </div>
    </div>
</div>
<script>
    Vue.createApp({
        data() {
            return {
                messages: [{
                    msg: "你好！我是GPT，一个由OpenAI创建的人工智能语言模型。我可以回答你关于各种主题的问题，帮助你解决问题或者提供信息。有什么我可以帮助你的吗？",
                    type: 'AI',
                    time: new Date().toLocaleString()
                }],
                nowQu: '',
                isLoding: false
            }
        },methods: {
            bingAi() {
                if (this.isLoding) {
                    return
                }
               this. isLoding = true;
                this.messages.push({msg: this.nowQu, type: 'Me', time: new Date().toLocaleString()})
                // document.getElementById('aimsgLast' ).scrollIntoView({ behavior: "smooth", block: 'end' });
                // http://ovoa.cc/api/Bing.php?msg=你好?&model=down&type="&model=down&type=json"
                fetch("https://haibara.lzy520.fun/api/ai?ask=" +this. nowQu).then(response => response.text())
                    .then(result => {

                       this.messages.push({msg: result, type: 'AI', time: new Date().toLocaleString()})
                        console.log(result)
                        localStorage.setItem("messages", JSON.stringify(messages.value))

                    })
                    .catch(error => console.log('error', error))
                    .finally(() => {
                   this. nowQu = '';
                    document.getElementById('aimsgLast')
                        .scrollIntoView({behavior: "smooth", block: 'end'});
                    this.isLoding = false;
                    // 总是会执行
                });

                // axios
                //     // .get('https://v1.apigpt.cn/?apitype=sql&q='+nowQu.value)
                //     // .get('http://' + store.BACKEND + "/public/bing?apitype=sql&q=" + nowQu.value)
                //     .get("http://7d9fe8e2.r5.cpolar.top/public/bing?apitype=sql&q=" + nowQu.value)
                //     .then(async result => {
                //         messages.value.push({msg: result.data.ChatGPT_Answer, type: 'AI', time: new Date().toLocaleString()})
                //         console.log(result)
                //         localStorage.setItem("messages", JSON.stringify(messages.value))
                //
                //     })
                //     .finally(() => {
                //         nowQu.value = '';
                //         document.getElementById('aimsgLast')
                //             .scrollIntoView({behavior: "smooth", block: 'end'});
                //         isLoding.value = false;
                //         // 总是会执行
                //     });

                // fetch("http://ovoa.cc/api/Bing.php?msg=%E4%BD%A0%E5%A5%BD&model=down&type=json")
                //     .then(response => response.text())
                //     .then(result => console.log(result))
            }
        },mounted() {
            if (localStorage.getItem("messages") != null) {
                this.messages = JSON.parse(localStorage.getItem("messages"))
            }
        }
    }).use(TDesign).mount('#app');
</script>
</body>
</html>